// variables

//// colors
$color-black: #000;
$color-white: #fff;
$color-green: #1abc9c;
$color-grey-light: #bdc3c7;
$color-grey: #95a5a6;
$color-grey-dark-blue: #34495e;
$color-grey-blue: #2c3e50;
$color-red: #e74c3c;

//// font
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//// transitions
$trans-time-quick: 200ms;
$trans-time-normal: 400ms;
$trans-time-slow: 600ms;

// overrides compass
@mixin box-shadow-default {
    box-shadow: 0 6px 8px -8px rgba($color-black, .7);
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}


.reading-container {
  max-width: 940px;
  margin: 0 auto;

  // reading
  .reading {
    @include box-shadow-default;
    border: 1px solid $color-grey-light;
    line-height: 1.5;
    padding: 1.5em;
  }

  .reading__word--current {
    border-bottom: 1px solid $color-grey-dark-blue;
    // font-weight: $font-weight-bold;
  }

  .reading__word--correct {
    color: $color-green;
  }

  .reading__word--incorrect {
    color: $color-red;
  }

  .reading__word--skipped {
    color: $color-grey-light;
  }

  .reading__curent-status__speech--interim {
    color: $color-grey-light;
  }

  .reading__curent-status__speech--final {
    color: $color-black;
  }

  // current input
  .reading__curent-status {
    line-height: 1.5;
    margin: 1.5em 0 1em;
    padding: .5em;
  }

  .reading__curent-status__speech__prompt {
    color: $color-grey;
    float: left;
  }

  .reading__curent-status__speech__input {
      border-bottom: 1px solid $color-grey-light;
      margin-left: 110px;
      padding: 0 .3em;
  }

  // controls
  .reading-control__button--skip-word,
  .reading-control__button--done {
    float: right;
  }
}

// components
.reading-control__button {
  @include box-shadow-default;
  @include no-select;
  border: 1px solid $color-grey-blue;
  color: $color-grey-dark-blue;
  cursor: pointer;
  display: inline-block;
  margin: .2em;
  padding: .3em;
  transition: background-color $trans-time-quick,
              color $trans-time-quick;

  &:hover {
    background-color: lighten($color-grey-light, 20);
    color: $color-black;
  }

  &:active {
    background-color: lighten($color-grey-light, 19);
  }
}
