.reading__word--current {
  text-decoration: underline;
  font-weight: 700;
}

.reading__word--correct {
  color: #1abc9c;
}

.reading__word--incorrect {
  color: #e74c3c;
}

.reading__word--skipped {
  color: #bdc3c7;
}
